# Домашнее задание к семинару 3. Изменение таблиц в Pandas
## Задача 1
Скачать данные по ссылке https://www.kaggle.com/datasets/esratmaria/house-price-dataset-with-other-information

Считать данные с помощью pandas

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./extra/kc_house_data.csv', encoding='latin-1')

### 1.1 Вывести на экран первые 5 строк

In [3]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

### 1.2 Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома
Если реновации дома не было, то в новом признаке поставьте 0

In [4]:
def delta (b: int) -> int:
    if b < 0: return 0
    else: return b
df['delta_renovated'] = (df['yr_renovated']-df['yr_built']).apply(delta)

df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,0
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,40
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,0
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,0
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,0
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,0
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,0
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,0
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,0

### 1.3 Создайте признаки года продажи, месяца продажи

In [5]:
df['yr_sale'] = 0
df['month_sale'] = 0

### 1.4 Удалите признаки date, zipcode, lat, long

In [6]:
df.drop(columns=['date', 'zipcode', 'lat', 'long'], inplace=True)
df.head()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,yr_sale,month_sale
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650,0,0,0
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639,40,0,0
2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062,0,0,0
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000,0,0,0
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503,0,0,0

## 2 задача
Создайте датафрейм с клиентами:

`
clients = pd.DataFrame({
'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295,
939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242,
2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
5083000375, 7920100025, 1951600150, 809001400, 339600110,
1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
8861700030, 3303980210, 7731100066, 8146100580, 825069097,
3889100029, 9524100196]
})
`

In [15]:
clients = pd.DataFrame({
                        'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295,
                                      939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242,
                                      2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
                         'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
                                      1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
                                      5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
                                      5083000375, 7920100025, 1951600150, 809001400, 339600110,
                                      1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
                                      8861700030, 3303980210, 7731100066, 8146100580, 825069097,
                                      3889100029, 9524100196]
                        })

### 2.1 Присоедините к таблице clients данные по домам через метод join

In [8]:
clients_id = clients.set_index('house_id')
house_id = df.set_index('id')
clients_id.join(house_id)

,client_id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,yr_sale,month_sale
339600110,4809,395000.0,3,2.50,1610,3755,2.0,0,0,3,7,1610,0,1987,0,1300,3823,0,0,0
809001400,3113,925000.0,3,1.00,1630,3200,1.5,0,0,4,8,1630,0,1912,0,1710,3600,0,0,0
825069097,1764,770000.0,3,2.50,2650,40705,2.0,0,0,3,9,2650,0,1994,0,2550,42625,0,0,0
1099600250,2242,260000.0,3,1.75,1710,6400,1.0,0,0,4,7,1240,470,1976,0,1600,6400,0,0,0
1189000207,2308,387000.0,2,2.50,1170,1394,2.0,0,0,3,8,1170,0,2001,0,1250,3136,0,0,0
1522700060,4535,518000.0,4,2.75,2520,14021,2.0,0,0,3,9,2520,0,1999,0,2330,14007,0,0,0
1622049154,2134,289900.0,3,1.75,1899,11325,2.0,0,0,3,7,1899,0,1943,2005,2000,10454,62,0,0
1788800910,939,190000.0,3,1.00,1200,10458,1.0,0,0,4,6,1200,0,1961,0,1160,9000,0,0,0
1951600150,4213,180000.0,3,1.00,1610,8500,1.5,0,0,3,7,1610,0,1959,0,1070,8750,0,0,0
2131701075,3942,420000.0,3,1.75,1720,5000,1.5,0,0,3,8,1720,0,1932,2009,1410,8300,77,0,0
2768100205,4929,519000.0,4,2.50,1950,2617,1.5,0,0,4,7,1250,700,1910,0,1520,1438,0,0,0
3123049142,280,452000.0,3,2.25,2600,14810,1.0,0,2,4,8,1490,1110,1956,0,2450,16715,0,0,0
3303980210,3317,1115000.0,4,3.75,4040,14212,2.0,0,0,3,11,4040,0,2002,0,3940,14212,0,0,0
3889100029,1611,810000.0,3,2.50,2670,10481,2.0,0,0,3,9,2670,0,2003,0,2620,8895,0,0,0
3995700435,1384,265000.0,4,3.00,1940,8170,1.0,0,0,4,7,1940,0,1948,0,1310,8169,0,0,0
5083000375,4332,170000.0,3,1.00,1310,9529,1.0,0,0,3,7,1310,0,1956,0,1330,9529,0,0,0
5083000375,4332,235000.0,3,1.00,1310,9529,1.0,0,0,3,7,1310,0,1956,0,1330,9529,0,0,0
5104540330,3498,679000.0,4,2.50,3680,7236,2.0,0,0,3,10,3680,0,2006,0,3310,7180,0,0,0
5428000070,2295,770000.0,5,3.50,4750,8234,2.0,0,2,3,10,3350,1400,2013,0,2160,14496,0,0,0
6131600255,4236,202500.0,3,2.00,1540,8316,1.0,0,0,5,6,1540,0,1954,0,1250,8316,0,0,0
6306800010,20,436472.0,4,2.50,2692,8392,2.0,0,0,3,9,2692,0,2014,0,2574,14446,0,0,0
6821600300,2866,886000.0,3,2.25,2380,6000,2.0,0,0,5,9,1650,730,1931,0,2000,6000,0,0,0
6823100225,4684,700000.0,4,1.75,1870,6000,1.0,0,0,5,8,1670,200,1949,0,1710,6000,0,0,0
7137950720,2765,339100.0,4,2.50,2350,10655,2.0,0,0,3,8,2350,0,1992,0,2210,7028,0,0,0
7731100066,2260,545000.0,3,1.00,1510,5000,1.5,0,0,3,7,1510,0,1909,0,1680,4000,0,0,0
7920100025,3475,450000.0,2,1.00,740,5100,1.0,0,0,4,7,740,0,1947,0,920,5100,0,0,0
8100400160,3840,700000.0,3,2.25,2330,11424,2.0,0,0,4,8,2330,0,1984,0,2050,11448,0,0,0
8146100580,1727,765000.0,3,1.00,1220,7585,1.0,0,0,4,7,1220,0,1954,0,1380,8918,0,0,0
8563000110,2068,427000.0,4,1.75,1460,9750,1.0,0,0,4,7,1460,0,1967,0,1820,9840,0,0,0
8861700030,1589,510000.0,3,1.50,2400,10275,1.0,0,0,4,8,1540,860,1964,0,2380,10125,0,0,0
8965450190,1459,295000.0,3,2.50,1500,3060,2.0,0,0,3,7,1500,0,1994,0,2700,7734,0,0,0
9510920050,1472,725000.0,3,2.50,2980,16996,2.0,0,0,3,10,2980,0,1992,0,2980,15438,0,0,0
9524100196,1474,239000.0,2,1.50,680,772,2.0,0,0,3,7,680,0,2005,0,690,1059,0,0,0

### 2.2 Присоедините к таблице clients данные по домам через метод merge
Это нужно, чтобы понимать, какие дома покупались клиентами

house_id - это индексы датафрейма с домами

In [9]:
merged = clients.merge(df, left_on='house_id', right_on='id')
merged

,client_id,house_id,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,yr_sale,month_sale
0,1459,8965450190,8965450190,295000.0,3,2.50,1500,3060,2.0,0,...,7,1500,0,1994,0,2700,7734,0,0,0
1,4684,6823100225,6823100225,700000.0,4,1.75,1870,6000,1.0,0,...,8,1670,200,1949,0,1710,6000,0,0,0
2,3498,5104540330,5104540330,679000.0,4,2.50,3680,7236,2.0,0,...,10,3680,0,2006,0,3310,7180,0,0,0
3,3942,2131701075,2131701075,420000.0,3,1.75,1720,5000,1.5,0,...,8,1720,0,1932,2009,1410,8300,77,0,0
4,4535,1522700060,1522700060,518000.0,4,2.75,2520,14021,2.0,0,...,9,2520,0,1999,0,2330,14007,0,0,0
5,2308,1189000207,1189000207,387000.0,2,2.50,1170,1394,2.0,0,...,8,1170,0,2001,0,1250,3136,0,0,0
6,2866,6821600300,6821600300,886000.0,3,2.25,2380,6000,2.0,0,...,9,1650,730,1931,0,2000,6000,0,0,0
7,2765,7137950720,7137950720,339100.0,4,2.50,2350,10655,2.0,0,...,8,2350,0,1992,0,2210,7028,0,0,0
8,1472,9510920050,9510920050,725000.0,3,2.50,2980,16996,2.0,0,...,10,2980,0,1992,0,2980,15438,0,0,0
9,4236,6131600255,6131600255,202500.0,3,2.00,1540,8316,1.0,0,...,6,1540,0,1954,0,1250,8316,0,0,0
10,2295,5428000070,5428000070,770000.0,5,3.50,4750,8234,2.0,0,...,10,3350,1400,2013,0,2160,14496,0,0,0
11,939,1788800910,1788800910,190000.0,3,1.00,1200,10458,1.0,0,...,6,1200,0,1961,0,1160,9000,0,0,0
12,3840,8100400160,8100400160,700000.0,3,2.25,2330,11424,2.0,0,...,8,2330,0,1984,0,2050,11448,0,0,0
13,280,3123049142,3123049142,452000.0,3,2.25,2600,14810,1.0,0,...,8,1490,1110,1956,0,2450,16715,0,0,0
14,20,6306800010,6306800010,436472.0,4,2.50,2692,8392,2.0,0,...,9,2692,0,2014,0,2574,14446,0,0,0
15,4332,5083000375,5083000375,170000.0,3,1.00,1310,9529,1.0,0,...,7,1310,0,1956,0,1330,9529,0,0,0
16,4332,5083000375,5083000375,235000.0,3,1.00,1310,9529,1.0,0,...,7,1310,0,1956,0,1330,9529,0,0,0
17,3475,7920100025,7920100025,450000.0,2,1.00,740,5100,1.0,0,...,7,740,0,1947,0,920,5100,0,0,0
18,4213,1951600150,1951600150,180000.0,3,1.00,1610,8500,1.5,0,...,7,1610,0,1959,0,1070,8750,0,0,0
19,3113,809001400,809001400,925000.0,3,1.00,1630,3200,1.5,0,...,8,1630,0,1912,0,1710,3600,0,0,0
20,4809,339600110,339600110,395000.0,3,2.50,1610,3755,2.0,0,...,7,1610,0,1987,0,1300,3823,0,0,0
21,2134,1622049154,1622049154,289900.0,3,1.75,1899,11325,2.0,0,...,7,1899,0,1943,2005,2000,10454,62,0,0
22,2242,1099600250,1099600250,260000.0,3,1.75,1710,6400,1.0,0,...,7,1240,470,1976,0,1600,6400,0,0,0
23,2068,8563000110,8563000110,427000.0,4,1.75,1460,9750,1.0,0,...,7,1460,0,1967,0,1820,9840,0,0,0
24,4929,2768100205,2768100205,519000.0,4,2.50,1950,2617,1.5,0,...,7,1250,700,1910,0,1520,1438,0,0,0
25,1384,3995700435,3995700435,265000.0,4,3.00,1940,8170,1.0,0,...,7,1940,0,1948,0,1310,8169,0,0,0
26,1589,8861700030,8861700030,510000.0,3,1.50,2400,10275,1.0,0,...,8,1540,860,1964,0,2380,10125,0,0,0
27,3317,3303980210,3303980210,1115000.0,4,3.75,4040,14212,2.0,0,...,11,4040,0,2002,0,3940,14212,0,0,0
28,2260,7731100066,7731100066,545000.0,3,1.00,1510,5000,1.5,0,...,7,1510,0,1909,0,1680,4000,0,0,0
29,1727,8146100580,8146100580,765000.0,3,1.00,1220,7585,1.0,0,...,7,1220,0,1954,0,1380,8918,0,0,0
30,1764,825069097,825069097,770000.0,3,2.50,2650,40705,2.0,0,...,9,2650,0,1994,0,2550,42625,0,0,0
31,1611,3889100029,3889100029,810000.0,3,2.50,2670,10481,2.0,0,...,9,2670,0,2003,0,2620,8895,0,0,0
32,1474,9524100196,9524100196,239000.0,2,1.50,680,772,2.0,0,...,7,680,0,2005,0,690,1059,0,0,0

## 3 задача
Составьте несколько сводных таблиц

### 3.1 Найдите среднюю стоимость домов в зависимости от количества спален
Отсортируйте от меньшей стоимости к большей

In [20]:
df.groupby(['bathrooms']).agg({'price':'mean'}).sort_values('price')

                  price
bathrooms
0.50       2.373750e+05
0.75       2.945209e+05
1.00       3.470412e+05
1.50       4.093222e+05
0.00       4.481600e+05
7.50       4.500000e+05
1.75       4.548961e+05
2.00       4.578897e+05
2.25       5.336768e+05
2.50       5.535965e+05
1.25       6.212167e+05
2.75       6.602304e+05
3.00       7.084152e+05
3.50       9.319331e+05
3.25       9.703398e+05
3.75       1.197217e+06
4.00       1.267709e+06
4.50       1.333620e+06
4.25       1.525774e+06
5.00       1.673492e+06
6.50       1.709445e+06
5.25       1.817177e+06
4.75       2.021304e+06
5.75       2.492500e+06
5.50       2.522300e+06
6.75       2.734000e+06
6.00       2.946833e+06
6.25       3.094000e+06
8.00       4.990000e+06
7.75       6.885000e+06

### 3.2 Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома

In [11]:
df.groupby('condition').agg({'price': ['min','max','mean']})

              price
                min        max           mean
condition
1           78000.0  1500000.0  334431.666667
2           80000.0  2555000.0  327287.145349
3           75000.0  7062500.0  542012.578148
4           89000.0  7700000.0  521200.390033
5          110000.0  3650000.0  612418.089359

### 3.3 Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную и оценкой вида

In [12]:
df.pivot_table(index='waterfront',
                  columns='view', 
                  values='price',
                  aggfunc='count',)

view              0      1      2      3      4
waterfront
0           19489.0  331.0  955.0  491.0  184.0
1               NaN    1.0    8.0   19.0  135.0

### 3.4 Каких домов в зависимости от этажности и количества спален больше?

In [23]:
df.pivot_table(index='floors',
                  columns='bedrooms', 
                  values='price',
                  aggfunc='count',
                  margins=True,
                  margins_name='Total').sort_values('Total', ascending=False)

bedrooms,0,1,2,3,4,5,6,7,8,9,10,11,33,Total
floors,,,,,,,,,,,,,,
Total,13.0,199.0,2760.0,9824.0,6882.0,1601.0,272.0,38.0,13.0,6.0,3.0,1.0,1.0,21613
1.0,4.0,162.0,1951.0,5455.0,2383.0,605.0,104.0,9.0,5.0,NaN,1.0,NaN,1.0,10680
2.0,6.0,12.0,497.0,3118.0,3682.0,775.0,119.0,19.0,6.0,4.0,2.0,1.0,NaN,8241
1.5,NaN,21.0,182.0,786.0,698.0,185.0,30.0,7.0,1.0,NaN,NaN,NaN,NaN,1910
3.0,2.0,3.0,123.0,405.0,61.0,13.0,5.0,1.0,NaN,NaN,NaN,NaN,NaN,613
2.5,NaN,1.0,5.0,56.0,58.0,23.0,14.0,2.0,NaN,2.0,NaN,NaN,NaN,161
3.5,1.0,NaN,2.0,4.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,8


### 3.5 Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дома

In [24]:
df.pivot_table(index='condition',
                  columns='grade', 
                  values='price',
                  aggfunc='median')

grade,1,3,4,5,6,7,8,9,10,11,12,13
condition,,,,,,,,,,,,
1,142000.0,NaN,150000.0,190000.0,255000.0,403500.0,932500.0,NaN,NaN,NaN,NaN,NaN
2,NaN,280000.0,145000.0,180000.0,235000.0,305000.0,429000.0,715000.0,1752500.0,NaN,NaN,NaN
3,NaN,75000.0,205000.0,234475.0,265000.0,357500.0,485000.0,689000.0,890000.0,1209500.0,1807500.0,2888000.0
4,NaN,NaN,238525.0,229975.0,295000.0,390000.0,571250.0,823500.0,1030000.0,1685000.0,2125000.0,5750000.0
5,NaN,262000.0,NaN,227450.0,285475.0,456000.0,696000.0,1078000.0,1650000.0,2050000.0,1990000.0,NaN